<section class="about section" id="about">
  <div class="container">
    <h2 class="visually-hidden">About us</h2>
    <div class="about-container">
      <div class="about-text-picture-container">
        <div class="about-text-container">
          <p class="about-text">
            I work with people all over the world to create impressive and
            <span class="red">functional</span>
            <span class="grey">websites</span> that reflect each client's unique
            personality.
          </p>
        </div>
        <picture class="about-picture-container">
          <source
            srcset="
              /img/about/image-desktop-1x.webp 1x,
              /img/about/image-desktop-2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/about/image-tablet-1x.webp 1x,
              /img/about/image-tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/about/image-mobile-1x.webp 1x,
              /img/about/image-mobile-2x.webp 2x
            "
            media="(max-width: 375px)"
          />
          <img
            src="/img/about/image-mobile-1x.webp"
            alt="Picture of Lloyd Jefferson"
            class="image-about"
          />
        </picture>
      </div>
      <ul class="about-description-list">
        <li class="about-item is-active">
          <h3 class="about-title">
            About me
            <svg class="about-arrow">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </h3>
          <p class="about-description">
            <span class="paragraph">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages ​​and technologies, always ready
              to improve my skills. I always follow the latest trends and look
              for unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </span>
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </li>
        <li class="about-item">
          <h3 class="about-title">
            Role
            <svg class="about-arrow">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </h3>
          <p class="about-description">
            <span class="paragraph-small">Frontend development</span>
            <span class="paragraph-small">HeadlessCMS, Wordpress</span>
            Blender (enjoy)
          </p>
        </li>
        <li class="about-item">
          <h3 class="about-title">
            Education
            <svg class="about-arrow">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </h3>
          <p class="about-description">
            <span class="paragraph-small">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </span>
            <span class="paragraph-small">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </span>
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
