<section class="covers">
  <div class="covers-content">
    <h2 class="visually-hidden">Covers</h2>
    <div class="covers-animatior">
      <ul class="covers-list">
        <li class="covers-item">
          <img
            src="../img/covers/a-brand-min.webp"
            alt="a brand that is inspired by forms creates by nature."
            class="cover-image"
            srcset="
              ../img/covers/a-brand-min.webp    1x,
              ../img/covers/a-brand-x2-min.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="../img/covers/discover-the-joy-min.webp"
            alt="Discover the joy of learning English with us!"
            class="cover-image"
            srcset="
              ../img/covers/discover-the-joy-min.webp    1x,
              ../img/covers/discover-the-joy-x2-min.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="../img/covers/fresh-harvest-box-min.webp"
            alt="Fresh harvest box is your one-stop place for a delicious fruit basket"
            class="cover-image"
            srcset="
              ../img/covers/fresh-harvest-box-min.webp    1x,
              ../img/covers/fresh-harvest-box-x2-min.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="../img/covers/get-body-in-shape-min.webp"
            alt="Get Body in shape, Stay healthy"
            class="cover-image"
            srcset="
              ../img/covers/get-body-in-shape-min.webp    1x,
              ../img/covers/get-body-in-shape-x2-min.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="../img/covers/manage-your-finances-min.webp"
            alt="Manage Your Finances Masterfully!"
            class="cover-image"
            srcset="
              ../img/covers/manage-your-finances-min.webp    1x,
              ../img/covers/manage-your-finances-x2-min.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="../img/covers/mimino-min.webp"
            alt="MIMINO"
            class="cover-image"
            srcset="
              ../img/covers/mimino-min.webp    1x,
              ../img/covers/mimino-x2-min.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="../img/covers/organic-vegetables-min.webp"
            alt="Organic vegetables to your diet today!"
            class="cover-image"
            srcset="
              ../img/covers/organic-vegetables-min.webp    1x,
              ../img/covers/organic-vegetables-x2-min.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="../img/covers/reviving-the-traditional-ua-artistry-min.webp"
            alt="Reviving the traditional Ukrainian artistry in every stitch."
            class="cover-image"
            srcset="
              ../img/covers/reviving-the-traditional-ua-artistry-min.webp    1x,
              ../img/covers/reviving-the-traditional-ua-artistry-x2-min.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="../img/covers/transformong-your-body-min.webp"
            alt="Transforming your body shape with Power Pulse"
            class="cover-image"
            srcset="
              ../img/covers/transformong-your-body-min.webp    1x,
              ../img/covers/transformong-your-body-x2-min.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="../img/covers/turn-your-business-min.webp"
            alt="Turn your business into an online leader"
            class="cover-image"
            srcset="
            ../img/covers/turn-your-business-min.webp    1x,
            ../img/covers/turn-your-business-x2-min.webp 2x
            "
          />
        </li>
      </ul>

      <ul class="covers-list">
        <li class="covers-item">
          <img
            src="../img/covers/a-brand-min.webp"
            alt="a brand that is inspired by forms creates by nature."
            class="cover-image"
            srcset="
              ../img/covers/a-brand-min.webp    1x,
              ../img/covers/a-brand-x2-min.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="../img/covers/discover-the-joy-min.webp"
            alt="Discover the joy of learning English with us!"
            class="cover-image"
            srcset="
              ../img/covers/discover-the-joy-min.webp    1x,
              ../img/covers/discover-the-joy-x2-min.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="../img/covers/fresh-harvest-box-min.webp"
            alt="Fresh harvest box is your one-stop place for a delicious fruit basket"
            class="cover-image"
            srcset="
              ../img/covers/fresh-harvest-box-min.webp    1x,
              ../img/covers/fresh-harvest-box-x2-min.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="../img/covers/get-body-in-shape-min.webp"
            alt="Get Body in shape, Stay healthy"
            class="cover-image"
            srcset="
              ../img/covers/get-body-in-shape-min.webp    1x,
              ../img/covers/get-body-in-shape-x2-min.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="../img/covers/manage-your-finances-min.webp"
            alt="Manage Your Finances Masterfully!"
            class="cover-image"
            srcset="
              ../img/covers/manage-your-finances-min.webp    1x,
              ../img/covers/manage-your-finances-x2-min.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="../img/covers/mimino-min.webp"
            alt="MIMINO"
            class="cover-image"
            srcset="
              ../img/covers/mimino-min.webp    1x,
              ../img/covers/mimino-x2-min.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="../img/covers/organic-vegetables-min.webp"
            alt="Organic vegetables to your diet today!"
            class="cover-image"
            srcset="
              ../img/covers/organic-vegetables-min.webp    1x,
              ../img/covers/organic-vegetables-x2-min.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="../img/covers/reviving-the-traditional-ua-artistry-min.webp"
            alt="Reviving the traditional Ukrainian artistry in every stitch."
            class="cover-image"
            srcset="
              ../img/covers/reviving-the-traditional-ua-artistry-min.webp    1x,
              ../img/covers/reviving-the-traditional-ua-artistry-min.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="../img/covers/transformong-your-body-min.webp"
            alt="Transforming your body shape with Power Pulse"
            class="cover-image"
            srcset="
              ../img/covers/transformong-your-body-min.webp    1x,
              ../img/covers/transformong-your-body-x2-min.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="../img/covers/turn-your-business-min.webp"
            alt="Turn your business into an online leader"
            class="cover-image"
            srcset="
              ../img/covers/turn-your-business-min.webp    1x,
              ../img/covers/turn-your-business-x2-min.webp 2x
            "
          />
        </li>
      </ul>
    </div>
  </div>
</section>

