<section class="faq section" id="faq">
  <div class="container">
    <h2 class="section-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-item">
        <h3 class="faq-question">
          <button type="button">
            What programming languages ​​are most often used in your project?

            <svg class="arrow">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-description">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </li>

      <li class="faq-item">
        <h3 class="faq-question">
          <button type="button">
            What are the deadlines for the project?
            <svg class="arrow">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-description">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </li>

      <li class="faq-item">
        <h3 class="faq-question">
          <button type="button">
            What payment methods do you accept?
            <svg class="arrow">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-description">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </li>

      <li class="faq-item">
        <h3 class="faq-question">
          <button type="button">
            How can I contact you?
            <svg class="arrow">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-description">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </li>

      <li class="faq-item">
        <h3 class="faq-question">
          <button type="button">
            Do you provide advice or support?
            <svg class="arrow">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-description">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </li>

      <li class="faq-item">
        <h3 class="faq-question">
          <button type="button">
            What does the process of developing a software product look like
            from idea to implementation?
            <svg class="arrow">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-description">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </li>
    </ul>
  </div>
</section>
