<footer class="footer" id="footer">
  <h2 class="footer-title">
    Let’s <span class="footer-title-word">work</span> together
  </h2>
  <form class="footer-form" id="contact-form" action="#" method="POST">
    <input
      class="footer-input-email"
      type="email"
      id="email-input"
      name="email"
      required
      pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
      placeholder="clients@gmail.com"
    />
    <input
      class="footer-input-comments"
      type="text"
      id="text-input"
      name="text"
      required
      placeholder="comments"
    />
    <button class="footer-button" type="submit">Send</button>
  </form>
  <ul class="footer-contact">
    <li>
      <a class="contact-mail" href="mailto:lloydjefferson@gmail.com"
        >lloydjefferson@gmail.com</a
      >
    </li>
    <li>
      <a class="contact-tel" href="tel:+3801111111111">+380 11 1111 11 11</a>
    </li>
  </ul>
</footer>
