<header class="header" id="header">
  <div class="header-container">
    <a href="#" class="logo">
      <img src="/img/header/logo.webp" alt="Lloyd Jefferson" />

      <span>jefferson*</span>
    </a>
    <div class="menu-wrapper">
      <div class="menu-btn">Menu</div>
      <nav class="nav-menu">
        <ul class="nav-links">
          <li><a href="#about" class="nav-link">About me</a></li>
          <li><a href="#benefits" class="nav-link">Benefits</a></li>
          <li><a href="#projects" class="nav-link">Projects</a></li>
          <li><a href="#faq" class="nav-link">FAQ</a></li>
        </ul>
      </nav>
    </div>
    <a href="#footer" class="order-btn">Order the project</a>
    <button class="mob-btn js-open-menu" type="button"></button>
  </div>

  <div class="mobile-menu">
    <div class="container">
      <nav class="burger-nav">
        <button class="mob-btn is-open js-close-menu" type="button"></button>

        <ul class="burger-links">
          <li><a href="#about" class="nav-link">About me</a></li>
          <li><a href="#benefits" class="nav-link">Benefits</a></li>
          <li><a href="#projects" class="nav-link">Projects</a></li>
          <li><a href="#faq" class="nav-link">FAQ</a></li>
        </ul>

        <a href="#footer" class="order-btn">Order the project</a>
      </nav>
    </div>
  </div>
</header>
