<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg width="32" height="32">
          <use href="./img/sprite.svg#icon-benefit-user"></use>
        </svg>
      </a>
      <header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg width="32" height="32">
          <use href="./img/sprite.svg#icon-benefit-user"></use>
        </svg>
      </a>
    ‹a href="#" class="logo">
<img src="./img/image.webp" alt="Lloyd Jefferson" width="80" height="80">
  ‹span>jefferson*</span>
</a>
  ‹div class="menu-btn">Menu</div>
     ‹nav class="nav-menu">
       ‹div class="close-btn">x</div>
<ul class="nav-links">
   ‹li><a href="#about" class="nav-link">About</a></1i>
   ‹li><a href="#projects" class="nav-link">Projects</a></li>
   ‹li><a href="#skills" class="nav-link">Skills</a></li>
   ‹li><a href="#experience" class="nav-link">Experience</a›</1i>
   ‹li><a href="#contact" class="nav-link">Contact</a></li>
</ul>
 </nav>
‹a href="#work-together" class="order-btn">Order the project</a>
 <script src="./js/header/header.js"></script›
   </header>
      </nav>
        </div>
   </header>
