<section class="hero">
  <div class="container">
    <div class="hero-position">
      <h1 class="hero-title">
      <span>Hello.</span> I’m Fullstack developer Lloyd Jefferson.
      </h1>
      <ul class="hero-socials">
        <li class="hero-social-item">
          <a href="https://www.instagram.com/goitclub/" class="hero-soc-link" target="_blank">
            <p class="link">IG</p>
          </a>
        </li>
        <li class="hero-social-item">
          <a href="https://www.facebook.com/goITclub" class="hero-soc-link" target="_blank">
            <p class="link">FB</p>
          </a>
        </li>
        <li class="hero-social-item">
          <a href="https://www.youtube.com/c/GoIT" class="hero-soc-link" target="_blank">
            <p class="link">YT</p>
          </a>
        </li>
        <li class="hero-social-item">
          <a href="https://github.com/serhiilukianenkodev/portfolio/tree/main" 
            class="hero-soc-link" target="_blank">
            <p class="link">GH</p>
          </a>
        </li>
        <li class="hero-social-item hero-contacts">
          <a href="mailto:lloydjefferson@gmail.com" class="">
            <p>
              lloydjefferson@gmail.com
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

