<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">REVIEWS</h2>
    <!-- Slider main container -->
    <div class="swiper">
      <!-- <div class="swiper-wrapper"> -->
      <ul class="swiper-wrapper reviews-gallery"></ul>
      <!-- </div> -->
    </div>
  </div>
  <!-- <div class="swiper-buttons">
    <div class="swiper-btn btn-left">
      <svg class="arrow">
        <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
      </svg>
    </div>
    <div class="swiper-btn btn-right">
      <svg class="arrow">
        <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
      </svg>
    </div>
  </div> -->
</section>
