<section class="reviews section">
  <div class="container">
    <h2 class="section-title reviews-title">REVIEWS</h2>
    <!-- Slider main container -->
    <div class="reviews-swiper swiper">
      <ul class="reviews-gallery swiper-container"></ul>
    </div>

    <div class="btn-arrow-project">
      <button type="button" class="left-arrow swiper-button-prev">
        <svg class="icons-arrow-left" width="25" height="24">
          <use href="/img/sprite.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
      <button type="button" class="right-arrow swiper-button-next">
        <svg class="icons-arrow-right" width="25" height="24">
          <use href="/img/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
