<section class="reviews section">
  <div class="container">
    <h2 class="reviews-title">REVIEWS</h2>
    <!-- Slider main container -->
    <div class="swiper">
      <!-- <div class="swiper-wrapper"> -->
      <ul class="reviews-gallery swiper-wrapper"></ul>
      <!-- </div> -->
    </div>
    <div class="swiper-buttons">
      <button type="button" class="swiper-btn swiper-button-prev rotate">
        <svg class="arrow" width="25" height="24">
          <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
      <button type="button" class="swiper-btn swiper-button-next">
        <svg class="arrow" width="25" height="24">
          <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
