.benefits {
    padding-block: 32px;
  }
  
  @media (min-width: 768px) {
    .benefits {
      padding-block: 48px;
    }
  }
  
  @media (min-width: 1024px) {
    .benefits {
      padding-block: 82px;
    }
  }
  
  .benefits .layout {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  
  @media (min-width: 1024px) {
    .benefits .layout {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 1023px) {
    .benefits .left {
      display: none;
    }
  }
  
  .benefits .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  .benefits .benefits-title {
    font-size: 16px;
    margin-left: auto;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
  }
  
  .benefits .benefit-icon {
    width: 48px;
    height: 48px;
    background-color: #ED3B44;
    border-radius: 10px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (min-width: 768px) {
    .benefits .benefit-icon {
      margin-bottom: 64px;
    }
  }
  
  .benefits .benefit-icon svg {
    width: 24px;
    height: 24px;
  }
  
  .benefits .benefit-icon use {
    fill: #FFFFFF;
    width: 100%;
    height: 100%;
  }
  
  .benefits .benefits-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: left;
    gap: 16px;
    padding: 0;
    list-style: none;
  }
  
  @media (min-width: 768px) {
    .benefits .benefits-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .benefits .benefit-item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 16px;
    background: #242527;
    border-radius: 20px;
    padding: 20px;
    text-align: left;
  }
  
  @media (min-width: 768px) {
    .benefits .benefit-item {
      padding: 24px;
    }
  }
  
  .benefits .benefit-designation {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #FAFAFA;
    background: #242527;
    margin: 0;
    max-width: 284px;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .benefits .benefit-designation {
      font-size: 20px;
    }
  }
  
  .benefits .benefit-text {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6); 
    background: #242527;
    margin: 0;
    max-width: 284px;
    width: 100%;
    height: 72px;
    overflow: hidden;
  }
  
  @media (min-width: 768px) {
    .benefits .benefit-text {
      font-size: 16px;
    }
  }
  
  .benefits .benefits-link {
    display: inline-block;
    margin-top: 40px;
    margin-left: auto;
    padding: 14px 28px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    font-size: 14px;
    color: var(--color-main-text);
    text-decoration: none;
  }
  
  @media (min-width: 768px) {
    .benefits .benefits-link {
      font-size: 16px;
      padding: 18px 36px;
      margin-top: 64px;
    }
  }
  
  .benefits .benefits-link:hover {
    background: var(--color-button);
  }