.btn-return {
  position: fixed;
  bottom: 5%;
  right: 10%;
  width: 40px;
  height: 40px;
  z-index: 999;
}

.rerturn-btn {
  width: 60px;
  height: 60px;
  padding: 8px;
  border-radius: 40px;
  background: transparent;
  border: 3px solid var(--bg-color-accent);
  color: var(--text-color-main);
  transform: rotate(-90deg) scale(1);
  transition: transform 300ms ease-in-out;

  &:hover,
  &:focus {
    transform: rotate(-90deg) scale(1.1);
  }
}
