.covers {
  height: 508px;
  margin: 0 auto;
}

.covers-content {
  background-color: var(--bg-color-gray);
  background-image: radial-gradient(
      circle at 20% 10%,
      var(--bg-color-accent) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 150% 110%,
      var(--bg-color-accent) 0%,
      transparent 50%
    );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  position: relative;
  display: flex;
  justify-content: center;

  height: 508px;
  margin: 0 auto;
}

@keyframes coversAnimator {
  0% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(-25%);
  }
}

@keyframes coversAnimatorRevert {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.covers-animatior {
  transform: rotate(16deg) translateY(-30%);
  display: flex;
  flex-wrap: wrap;
  gap: 43px;
}

.covers-animatior.animate {
  & :nth-child(n) {
    animation-name: coversAnimator;
  }

  & :nth-child(2n) {
    animation-name: coversAnimatorRevert;
  }
  animation-play-state: running;
}

.covers-list {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: center; */
  gap: 30px;
  animation-name: coversAnimator;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.covers-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 282px;
  height: 162px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .covers {
    height: 960px;
  }

  .covers-content {
    height: 960px;
    background-image: radial-gradient(
        circle at 30% 5%,
        var(--bg-color-accent) 0%,
        transparent 30%
      ),
      radial-gradient(
        circle at 95% 75%,
        var(--bg-color-accent) 0%,
        transparent 30%
      );
  }

  .covers-item {
    width: 544px;
    height: 314px;
  }
}

@media only screen and (min-width: 1440px) {
  .covers {
    height: 960px;
  }

  .covers-content {
    background-image: radial-gradient(
        circle at 40% 10%,
        var(--bg-color-accent) 0%,
        transparent 20%
      ),
      radial-gradient(
        circle at 10% 35%,
        var(--bg-color-accent) 0%,
        transparent 20%
      ),
      radial-gradient(
        circle at 90% 80%,
        var(--bg-color-accent) 0%,
        transparent 20%
      );
  }
}
