.faq-list {
  margin-top: 32px;

  @media only screen and (min-width: 1440px) {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
  }
}

.faq-item {
  padding: 20px 0;
  border-top: 1px solid rgba(250, 250, 250, 0.2);

  &:last-child {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }

  @media only screen and (min-width: 768px) {
    padding: 32px 0;
  }

  @media only screen and (min-width: 1440px) {
    padding: 32px 32px 32px 0;
    width: 688px;

    &:nth-child(3) {
      border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    }

    &:nth-last-child(-n + 3) {
      padding-left: 32px;
      border-left: 1px solid rgba(250, 250, 250, 0.2);
    }
  }
}

.faq-question {
  cursor: pointer;
  position: relative;
  padding-right: 40px;
  font-size: 20px;
  font-weight: 700;
  color: var(--text-color-white);
}

.arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
  padding: 7px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  transform: rotateX(0);
  transition: transform 0.5s ease-in-out;

  .faq-item.is-active & {
    transform: rotateX(180deg);
  }
}

.faq-description {
  overflow: hidden;

  .faq-item.is-active & {
    margin-top: 16px;
  }
}
