.footer {
  padding-bottom: 32px;
  padding-top: 32px;
  background-image: url(/img/footer/footer-background-mob-1x.png);
  background-repeat: no-repeat;
  background-position: right;
}

@media (min-resolution: 192dpi) {
  .footer {
    background-image: url(/img/footer/footer-background-mob-2x.png);
  }
}

.footer-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--text-color-white);
  display: flex;
  max-width: 268px;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  margin-bottom: 64px;
}

.footer-title-word {
  color: var(--text-color-accent);
}

.footer-form {
  display: flex;
  flex-direction: column;
}

.input-message {
  width: 100%;
}

.footer-input-email {
  width: 100%;
  max-width: 343px;
  height: 44px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  padding-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-input-email:focus,
.footer-input-email:hover {
  outline: none;
  border-color: transparent;
  box-shadow: none;
  color: var(--text-color-white);
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}

.footer-input-email:-webkit-autofill,
.footer-input-email:-webkit-autofill:hover,
.footer-input-email:-webkit-autofill:focus,
.footer-input-email:-webkit-autofill:active {
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: rgba(250, 250, 250, 0.6);
  transition: background-color 500ms ease-in-out;
}

.email-succes {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #3cbc81;
}

.email-error {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #e74a3b;
}

.footer-input-comments {
  max-width: 343px;
  height: 44px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  padding-bottom: 20px;
  margin-bottom: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 16px;
}

.footer-input-comments:focus,
.footer-input-comments:hover {
  outline: none;
  border-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
  color: var(--text-color-white);
}

.footer-input-comments:-webkit-autofill,
.footer-input-comments:-webkit-autofill:hover,
.footer-input-coment:-webkit-autofill:focus,
.footer-input-comments:-webkit-autofill:active {
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: rgba(250, 250, 250, 0.6);
  transition: background-color 500ms ease-in-out;
}

.footer-button {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: var(--bg-color-accent);
  border: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--text-color-white);
  margin-bottom: 64px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease;
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--bg-color-accent-hover);
}

.footer-contact {
  display: flex;
  row-gap: 20px;
  column-gap: 4px;
  flex-wrap: wrap;
}

.contact-mail {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  max-width: 178px;
  height: 37px;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: var(--text-color-white);
  transition: border 0.4s ease;
  font-style: normal;
}

.contact-mail:hover,
.contact-mail:focus {
  border: 1px solid rgba(250, 250, 250, 1);
}

.contact-tel {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 13px;
  max-width: 118px;
  height: 37px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: var(--text-color-white);
  transition: border 0.5s ease;
  font-style: normal;
}

.contact-tel:hover,
.contact-tel:focus {
  border: 1px solid rgba(250, 250, 250, 1);
}

@media only screen and (min-width: 768px) {
  .footer {
    padding-top: 82px;
    padding-bottom: 169px;
    background-image: url(/img/footer/footer-background-tab-1x.png);
  }

  @media (min-resolution: 192dpi) {
    .footer {
      background-image: url(/img/footer/footer-background-tab-2x.png);
    }
  }

  .footer-face-image {
    width: 70px;
    height: 70px;
  }

  .footer-title {
    font-size: 64px;
    max-width: 526px;
    flex-wrap: wrap;
    gap: 14px;
    margin-bottom: 18px;
  }

  .footer-form {
    flex-direction: row;
    gap: 32px;
    align-items: baseline;
  }

  .footer-input-email {
    max-width: 245px;
    width: 100%;
    margin-bottom: 0;
  }

  .footer-input-comments {
    max-width: 245px;
    width: 100%;
    margin-bottom: 0px;
  }

  .footer-button {
    width: 150px;
    height: 150px;
    margin-left: auto;
  }

  .footer-contact {
    column-gap: 8px;
  }

  .contact-mail {
    padding: 18px 32px;
    width: 239px;
    height: 55px;
    font-size: 16px;
  }

  .contact-tel {
    padding: 18px 32px;
    width: 171px;
    height: 55px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer {
    padding-left: 164px;
    padding-right: 164px;
    background-image: url(/img/footer/footer-background-desk-1x.png);
  }

  @media (min-resolution: 192dpi) {
    .footer {
      background-image: url(/img/footer/footer-background-desk-2x.png);
    }
  }

  .input-message {
    max-width: 390px;
  }

  .footer-input-email {
    max-width: 390px;
    width: 100%;
  }

  .footer-input-comments {
    max-width: 390px;
    width: 100%;
  }
}
