.footer {
}

.footer-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.footer-title-word {
  color: #ed3b44;
}

.footer-form {
  display: flex;
  flex-direction: column;
}

.footer-input-email {
  max-width: 343px;
  height: 44px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  padding-bottom: 20px;
  margin-bottom: 16px;
}

.footer-input-comments {
  max-width: 343px;
  height: 44px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  padding-bottom: 20px;
  margin-bottom: 32px;
}

.footer-button {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #ed3b44;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 64px;
}

.footer-contact {
  display: flex;
  gap: 4px;
}

.contact-mail {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  max-width: 178px;
  height: 37px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.contact-tel {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  max-width: 118px;
  height: 37px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
}
