.hero {
  background-image: url(../img/hero/hero-mob-min.webp);
  max-width: 375px;
  height: 812px;
  margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/hero/hero-mob-x2-min.webp);
  }
}

.hero-position {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 812px;
}

.hero-title {
  padding-top: 281px;
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #FAFAFA;
}

span {
  display: block;
}


.hero-socials {
  display: flex;
  gap: 4px;
  width: 342px;
  height: 37px;
  margin-bottom: 32px;
}

.hero-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 8px;
  width: 37px;
  height: 37px;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #FAFAFA; 
}

.link {
  display: inline-block;
  text-align: center;
  padding: 10px 8px;
}

.hero-contacts {
  min-width: 178px;
}


@media only screen and (min-width: 768px) {
  .hero {
    background-image: url(../img/hero/hero-tab-min.webp);
    max-width: 768px;
    height: 1024px;
  }

  .hero-position {
    height: 1024px;
    width: 704px;
  }

  .hero-title {
    padding-top: 300px;
    width: 620px;
    font-size: 90px;
  }

  .hero-socials {

    margin-left: auto;
    gap: 8px;
    width: 473px;
    height: 55px;
    margin-bottom: 32px;
  }

  .hero-social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 18px 16px;
    width: 55px;
    height: 55px;
    font-size: 16px;
  }
      
  .hero-social-item:hover {
    border: 1px solid #FAFAFA;
  }
  
  .hero-contacts {
    min-width: 223px;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: url(../img/hero/hero-tab-x2-min.webp);
    }
  }
}



@media only screen and (min-width: 1440px) {
  .hero {
    background-image: url(../img/hero/hero-desc-min.webp);
    max-width: 1440px;
    height: 900px;
  }

  .hero-position {
    width: 1376px;
    height: 900px;
  }

  .hero-title {
    margin-left: auto;
    margin-right: auto;
    width: 1084px;
    font-size: 90px;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: url(../img/hero/hero-desc-x2-min.webp);
    }
  }
}
  
