.modal {
  z-index: 2;
  padding-left: 16px;
  padding-right: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 16, 0.6);
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-open {
  visibility: visible;
  opacity: 1;
}

.modal-message {
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  max-width: 343px;
  width: 100%;
  min-height: 276px;
  background-color: #1c1d20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--text-color-white);
  margin-bottom: 16px;
  text-align: center;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
}

.modal-close {
  fill: #ffffff;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .modal-message {
    max-width: 493px;
    width: 100%;
    min-height: 246px;
    padding-left: 64px;
    padding-right: 64px;
  }

  .modal-close {
    width: 24px;
    height: 24px;
  }
}
