/* .reviews {
  padding-top: 60px;
} */

.swiper {
  width: 100%;
  height: 100%;
}

.reviews-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  padding-bottom: 32px;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.reviews-gallery {
  min-width: 320px;
  max-width: 344px;
}

.swiper-slide {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  max-width: 344px;
  height: auto;
}

.reviews-thumb {
  border-radius: 10px;
  width: 48px;
  height: 48px;
}

.reviews-image {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}

.reviews-member {
  padding-top: 32px;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.reviews-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.reviews-item-error {
  border: 2px solid rgba(243, 9, 9, 0.2);
  border-radius: 20px;
  padding: 44px 64px;
  max-width: 332px;
}

.reviews-error {
  margin: 0 auto;
}

.swiper-slide:hover .reviews-image,
.swiper-slide:focus .reviews-image {
  transform: scale(1.5);
}

.swiper-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0 auto;
  margin-top: 32px;
  max-width: 116px;
}

.swiper-btn {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  width: 52px;
  height: 52px;
  padding: 14px;
  background: var(--bg-color-main);
}

.rotate {
  transform: rotate(-180deg);
}

.swiper-button-disabled {
  background: var(--bg-color-main);
  border: 1px solid rgba(250, 250, 250, 0.2);
  cursor: not-allowed;
  opacity: 0.5;
}

.swiper-button-disabled svg {
  color: var(--bg-color-gray);
  fill: none;
}

.arrow {
  width: 24px;
  height: 24px;
}

@media only screen and (min-width: 768px) {
  .reviews-gallery {
    max-width: 704px;
  }

  .swiper-buttons {
    max-width: 156px;
  }

  .swiper-btn {
    width: 68px;
    height: 68px;
    padding: 18px;
  }

  .arrow {
    width: 32px;
    height: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .reviews-gallery {
    max-width: 1376px;
  }

  .swiper-slide {
    max-width: 332px;
  }
}
